<div class="container" id="div1">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-1"></div>
        <div class="col-md-4 col-10  rad" id="div2">
           <div class="row  text-center rad1 text-white" id="div4" [ngStyle]="{'background-color': bgColor}">
            <h4 class="mt-2"><b>Random User Generator</b></h4>
           </div>
          <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img [src]="user.image" alt="photo" class="ra mt-3 " width="150px" height="135px" [ngStyle]="{'background-color': bgColor}">
            </div>
            <div class="col-md-3"></div>
          </div>
           <h4 class="mt-2 text-center" [ngStyle]="{'color': bgColor}">{{user.firstName}} {{user.lastName}}</h4>
           <div class="row">
            
            <div class="col-md-12 col-12">
                <div class="card mt-3 p-2">
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item "><b>Profession : </b> {{user.company.title}}</li>
                  <li class="list-group-item"><b>Email :</b> {{user.email}}</li>
                  <li class="list-group-item"><b> Phone : </b> {{user.phone}}</li>
                </ul>
              </div></div>
            
           </div>
           <div class="row d-flex justify-content-center">
            <button class="form-control w-50 mt-3 shadow-none text-white" (click)=" getrandomUsers()" [ngStyle]="{'background-color': bgColor}">Generate User</button>
           </div>
        </div>
        <div class="col-md-4 col-1"></div>
    </div>
</div>
<div class="container-fluid " id="div3"></div>
