#div1{
    height: 330px;
      background-color:greenyellow; 
    
}

#div3{
    height: 327px;
    background-color:black ;
    margin-top: -260px;
}
#div2{
    margin-top: -260px;
    height: 520px;
    background-color: white;
}
#div4{
    height: 60px;
    margin-top: 20px;
}